body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.header,
.row,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

.jumbotron img {
  width: 100%;
}

.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}
/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .row,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

#auth input {
  width: 60%;
  border: none;
  border-bottom: 2px solid lightgray;
  padding: 5px;
}

#search input {
  width: 40%;
  border: none;
  border-bottom: 2px solid lightgray;
  padding: 5px;
  margin-right: 10px;
}

.btn-circle {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 50px;
}

ul {
  float: right;
}

footer p {
  text-align: center;
}
