/*
   Hi, this is bad CSS, you shouldn't structure your CSS this way. Structurally based CSS is a bad idea because it's inherently brittle; if you change the way your nest something you break it. I'm doing it this way because it's less typing for everyone involved to not have to type long class names
*/

* {
  box-sizing: border-box;;
}

/*"Trebuchet MS", Helvetica,*/

html {
  font-family: Skia, sans-serif;
}

.app {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(/public/images/BR.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #01303C;
}

.app > h1 {
  color: white;
}

.landing {
  background-color: rgba(220, 220, 220, .7);
  margin-top: 250px;
  padding: 15px 30px;
  border-radius: 5px;
}

.landing > h1 {
  color: #01303C;
  font-family: Skia;
  font-weight: normal;
}

.landing > input, .landing > form > input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
}

.landing > form {
  width: 100%;
  min-width: 300px;
}

.landing > a {
  margin-top: 15px;
  padding: 10px 40px;
  background-color: #01303C;
  color: #fafafa;
  border-color: transparent;
  display: inline-block;
  text-decoration: none;
  border-radius: 4px;
}

.landing > a:hover, .landing > a:focus {
  background-color: #666;
}

.landing > a:active {
  background-color: #fafafa;
  color: #17140F;
  border-color: #17140F;
}

.details, .search {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  overflow-y: scroll;
  background-color: rgba(220, 220, 220, .8);
  margin: 10px;
  padding: 30px;
  border-radius: 5px;
}

.search > div > a {
  width: 30%;
  height: 0;
  padding-bottom: 19.8%;
  overflow: hidden;
  margin-bottom: 3%;
  border: 2px solid #17140F;
  border-radius: 4px;
  color: #01303C;
  text-decoration: none;
}

.search > div > a {
  width: 100%;
  padding-bottom: 70%;
  height: 0;
  overflow: inherit;
  margin-bottom: inherit;;
  border: none;
  border-radius: inherit;
}

.show-order {
  float: left;
  margin: 2%;
  /*border: 2px solid #01303C;*/
  border-radius: 20px;
  text-align: left;
  width: 30%;
  height: 0;
  padding-left: 15px;
  padding-bottom: 15%;
  overflow: hidden;
}

.show-order:nth-child(3n), .search > div > a:nth-child(3n) > .show-order {
  margin-right: 0;
}
/*
.show-order > div {
  display: block;
  float: right;
  width: 52%;
  overflow-y: scroll;
}*/

/*.show-order > div > h3 {
  margin-top: 0;
  margin-bottom: 5px;
}*/

.show-order > div > h3 {
  margin-top: 0;
  margin-bottom: 5px;
  color: #666;
  font-size: 13px;
}

.show-order > div > p {
  margin: 0;
  font-size: 13px;
}

.search > header + div {
  margin-top: 25px;
}

header {
  z-index: 10;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-color: white;
  padding: 8px 30px;
}

header > h1, h2 {
  background-image: url(../public/images/AntlerLogo3.png);
  font-family: Skia;
  font-weight: normal;
  color: #01303C;
  margin: 0;
}

header > h1 > a {
  color: #01303C;
  text-decoration: none;
}

header img {
  width: 8%;
  float: left;
}

header > h2 {
  font-weight: normal;
  margin: 0;
}

header > h2 > a {
  color: #01303C;
  text-decoration: none;
}

.details > div {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

/*.details > div > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}*/

header > input {
  min-width: 250px;
  max-width: 350px;
  width: 20%;
  padding: 4px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.details > section > img, .details > section > h3 {
  width: 8%;
}

.details > section > img[alt] {
  -webkit-animation: spin 4s infinite linear;
  -moz-animation: spin 4s infinite linear;
  animation: spin 4s infinite linear;
}


.details > section > * {
  margin: 0 1%;
}

.details > section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 25px;
}

.details > header + section {
  margin-top: 25px;
}
